body {
	padding: 0;
	margin: 0;
	font-family: 'LexendDeca';
	a{
		text-decoration: none;
		&:hover{
			text-decoration: none;
		} 
	} 
			
	p {
		margin-bottom: 0;
	}
	
	ul,ol {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
		}
	}
}

#bike-trip{
	text-align: center;
	overflow-y: hidden;
	min-height: 100vh;
	max-height: 100vh;
}
.hide-md {
	display: none !important;
}

@media (max-width: 991px) {
	.hide-md {
		display: block !important
	}
		
	.hide-sm {
		display: none !important
	}
}
 *{
	 color: red;
 }