extends _layout/_layout
block variables
	- var title = 'Home'

block body
	//- <!--================Home Banner Area =================-->
	section.home_banner_area(ng-controller="blog")
		.container
			.row
				.col-lg-5
				.col-lg-7
					.blog_text_slider.owl-carousel
						.item
							.blog_text
								.cat
									a.cat_btn(href='#') {{blogs[1].id_us}}
									a(href='#')
										i.fa.fa-calendar(aria-hidden='true')
										|  {{blogs[1].date_post}}
									a(href='#')
										i.fa.fa-comments-o(aria-hidden='true')
										|  {{blogs[1].view}}
								a(href='#')
									h4 {{blogs[1].title_post}}
								p
									| {{blogs[1].describe}}
								a.blog_btn(href='#') Read More
						.item
							.blog_text
								.cat
									a.cat_btn(href='#') {{blogs[0].id_us}}
									a(href='#')
										i.fa.fa-calendar(aria-hidden='true')
										|  {{blogs[0].date_post}}
									a(href='#')
										i.fa.fa-comments-o(aria-hidden='true')
										|  {{blogs[0].view}}
								a(href='#')
									h4 {{blogs[0].title_post}}
								p
									| {{blogs[0].describe}}
								a.blog_btn(href='#') Read More
						.item
							.blog_text
								.cat
									a.cat_btn(href='#') {{blogs[2].id_us}}
									a(href='#')
										i.fa.fa-calendar(aria-hidden='true')
										|  {{blogs[2].date_post}}
									a(href='#')
										i.fa.fa-comments-o(aria-hidden='true')
										|  {{blogs[2].view}}
								a(href='#')
									h4 {{blogs[2].title_post}}
								p
									| {{blogs[2].describe}}
								a.blog_btn(href='#') Read More

	//- <!--================End Home Banner Area =================-->
	section.blog_area.p_120(ng-controller="blog")
		.container
			.row
				.col-lg-8
					.blog_left_sidebar
						article.blog_style1(ng-repeat="blog in blogs | limitTo: 1")
							.blog_img
								img.img-fluid(src='images/home-blog/{{blog.img_des}}', alt='')
							.blog_text
								.blog_text_inner
									.cat
										a.cat_btn(href='#') {{blog.id_us}}
										a(href='#')
											i.fa.fa-calendar(aria-hidden='true')
											|  {{blog.date_post}}
										a(href='#')
											i.fa.fa-comments-o(aria-hidden='true')
											|  {{blog.view}}
									a(href='single-blog.html')
										h4 {{blog.title_post}}
									p
										| {{blog.describe}}
									a.blog_btn(href='#') Read More

						.row
							.col-md-6(ng-repeat="blog in blogs | limitTo: 4 | filter:search")
								article.blog_style1.small
									.blog_img
										img.img-fluid(src='images/home-blog/{{blog.img_post}}', alt='')
									.blog_text
										.blog_text_inner
											.cat
												a.cat_btn(href='#') {{blog.id_us}}
												a(href='#')
													i.fa.fa-calendar(aria-hidden='true')
													|  {{blog.date_post}}
												a(href='#')
													i.fa.fa-comments-o(aria-hidden='true')
													|  {{blog.view}}
											a(href='single-blog.html')
												h4 {{blog.title_post}}
											p
												| {{blog.describe}}
											a.blog_btn(href='#') Read More

						nav.blog-pagination.justify-content-center.d-flex
							button
				.col-lg-4
					.blog_right_sidebar
						aside.single_sidebar_widget.search_widget
							.input-group
								input.form-control(type='text', placeholder='Search Posts' ng-model="search")
								span.input-group-btn
									button.btn.btn-default(type='button')
										i.lnr.lnr-magnifier
							//- // /input-group
							.br
						aside.single_sidebar_widget.popular_post_widget
							h3.widget_title Popular Posts
							.media.post_item
								img(src='images/blog/popular-post/post1.jpg', alt='post')
								.media-body
									a(href='blog-details.html')
										h3 Space The Final Frontier
									p 02 Hours ago
							.media.post_item
								img(src='images/blog/popular-post/post2.jpg', alt='post')
								.media-body
									a(href='blog-details.html')
										h3 The Amazing Hubble
									p 02 Hours ago
							.media.post_item
								img(src='images/blog/popular-post/post3.jpg', alt='post')
								.media-body
									a(href='blog-details.html')
										h3 Astronomy Or Astrology
									p 03 Hours ago
							.media.post_item
								img(src='images/blog/popular-post/post4.jpg', alt='post')
								.media-body
									a(href='blog-details.html')
										h3 Asteroids telescope
									p 01 Hours ago
							.br
						aside.single-sidebar-widget.newsletter_widget
							h4.widget_title Newsletter
							.form-group.d-flex.flex-row
								.input-group
									input#inlineFormInputGroup.form-control(type='text', placeholder='Enter email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email'")
								a.bbtns(href='#')
									i.lnr.lnr-arrow-right
							.br
						aside.single_sidebar_widget.post_category_widget(ng-controller="categorys")
							h4.widget_title Post Catgories
							ul.list.cat-list
								li(ng-repeat="cate in categorys")
									a.d-flex.justify-content-between(href='{{cate.id_cate}}.html')
										p {{cate.name_cate}}
								