script(src="./frameworks/angular.min.js")
script(src="./frameworks/angular-route.min.js")
script(src='./frameworks/jquery-3.2.1.min.js')
script(src='./frameworks/popper.js')
script(src='./frameworks/bootstrap.min.js')
script(src='./frameworks/stellar.js')
script(src='./frameworks/lightbox/simpleLightbox.min.js')
script(src='./frameworks/nice-select/js/jquery.nice-select.min.js')
script(src='./frameworks/isotope/imagesloaded.pkgd.min.js')
script(src='./frameworks/isotope/isotope-min.js')
script(src='./frameworks/owl-carousel/owl.carousel.min.js')
script(src='./frameworks/jquery-ui/jquery-ui.js')
script(src='./frameworks/jquery.ajaxchimp.min.js')
script(src='./frameworks/mail-script.js')
script(src='./frameworks/theme.js')
//- js here
script(src="./scripts/main.js")


