include ../_include/variable
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    include ../_include/_css
    block css
  body
    include header

    main
      block body

    include footer
    include ../_include/_js
    block js