header.header_area
  .main_menu
    nav.navbar.navbar-expand-lg.navbar-light
      .container.box_1620
        //- Brand and toggle get grouped for better mobile display
        a.navbar-brand.logo_h(href='index.html')
          img(src='images/logo.png', alt='')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //- Collect the nav links, forms, and other content for toggling
        #navbarSupportedContent.collapse.navbar-collapse.offset
          ul.nav.navbar-nav.menu_nav
            li.nav-item.active
              a.nav-link(href='#') Home
            li.nav-item
              a.nav-link(href='#') Category
            li.nav-item
              a.nav-link(href='#') Archive
            li.nav-item.submenu.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Pages
              ul.dropdown-menu
                li.nav-item
                  a.nav-link(href='#') Sinlge Blog
                li.nav-item
                  a.nav-link(href='#') Elements
            li.nav-item
              a.nav-link(href='#') Contact
          ul.nav.navbar-nav.navbar-right.header_social.ml-auto
            li.nav-item
              a(href='#')
                i.fa.fa-facebook
            li.nav-item
              a(href='#')
                i.fa.fa-twitter
            li.nav-item
              a(href='#')
                i.fa.fa-instagram
            li.nav-item
              a(href='#')
                i.fa.fa-user
  .logo_part
    .container
      a.logo(href='#')
        img(src='images/logo.png', alt='')