@font-face {
  font-family: 'LexendDeca';
  src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
  url('../fonts/LexendDeca-Regular.ttf') format('truetype'),
  url('../fonts/LexendDeca-Regular.eot') format('eot'),
  url('../fonts/LexendDeca-Regular.otf') format('otf'),
  url('../fonts/LexendDeca-Regular.woff') format('woff'),
  url('../fonts/LexendDeca-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

